name: CI Pipeline

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: 'maven'
        
    - name: Build with Maven
      run: mvn clean compile -X -DskipTests
  

  build-and-push:
    runs-on: ubuntu-latest
    needs: build-and-test
    if: github.ref == 'refs/heads/main'
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
        
    - name: Build and push Backend
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: molka/backend:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max
        
    - name: Build and push Frontend
      with:
        context: ./frontend
        file: ./frontend/Dockerfile
        push: true
        tags: molka/frontend:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max